<h3>{{titulo}}</h3>
<hr>

<div *ngIf="productos; else Loading">
    <div class="row">
        <div class="col-lg-3" *ngFor="let producto of productos">
            <div class="img-thumbnail" style="margin-bottom: 15px;">
                <div *ngIf="producto.imagen; else NoImage">
                    <img src="http://localhost/cursoAngular4_BackEnd/uploads/{{producto.imagen}}" alt="" class="producto_imagen">
                </div>
                <ng-template #NoImage>
                    <div class="img_relleno"></div>
                </ng-template>
                <div class="caption">
                    <h3>{{producto.nombre}}</h3>
                    <p>{{producto.precio}}€</p>
                    <div class="botones" *ngIf="confirmado != producto.id; else seguro" style="margin: 5px;">
                        <a [routerLink]="['/producto',producto.id]" routerLinkActive="router-link-active"  class="btn btn-outline-primary separado">Ver</a>
                        <a [routerLink]="['/editar-producto', producto.id]" routerLinkActive="router-link-active"  class="btn btn-outline-warning separado">Editar</a>
                        <a (click) ="borrarConfirm(producto.id)"  class="btn btn-outline-danger separado">Borrar</a>
                    </div>
                    <ng-template #seguro>
                        <div class="seguro" *ngIf="confirmado == producto.id">
                            <a (click)="cancelarConfirm()" class="btn btn-md btn-secondary">No</a>
                            <a (click)="onDeleteProducto(producto.id)" class="btn btn-md btn-danger" style="margin: 5px;">Eliminar</a>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #Loading>
    Cargando productos...
</ng-template>